<%= render "shared/header" %>

<%= form_with(url: search_targets_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "見たい路線を入力してね", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<div class="contents-row">
  <% @targets.each do |target| %>
  <% if current_user.id == target.user_id %>
    <div class="target-info">
      <div class="target-info-front">
        <div class="target-info-header">
          <div class="target-info-station">
            <%= target.station %>
          </div>  
          <div class="target-info-ride-time">
            <%= target.ride_time.strftime("%H:%M") %>
          </div>  
        </div>
        <div class="target-info-center">
          <div class="target-info-center-left">
            <div class="target-info-cen">
              ニックネーム：<%= target.target_name %>
            </div>
            <div class="target-info-cen">
              服装：<%= target.clothes %>
            </div>
          </div>
          <div class="target-info-center-right">
            <div class="target-info-cen">
              年齢：<%= target.age.name %>
            </div>
            <div class="target-info-cen">
              <%= target.resemble %>に似てる
            </div>
          </div>
        </div>
        <div class="target-info-footer">
          <div class="target-info-line-name">
            <%= target.line_name %>
          </div>
        </div>
      </div>  
    </div>
  <% end %>  
  <% end %>
</div>

<%= render "shared/footer" %>